/* PANEL: Google Analytics */

.analytics_panel .graph img {	
	display: block;
	margin-bottom: 20px;
}

.secondary .graph img {
	max-width: 100%;
	height: auto;
}

.analytics_panel .info,
.analytics_panel .terms {
	float: left;
	width: 50%;
}